*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.icon{
	font-size: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}
p{
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    background-image: url(../images/1.jfif);
    height: 30px;
    width: 30px;
    border: 4px solid red;
}
.image{
	background-image: url('https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg');
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
}
h1{
 position: absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-weight: bold !important;
 font-size: 80px !important;
 color: ghostwhite;

}
nav{
	margin-top: 2%;
	height: 50px;
}
nav ul li{	
	display: inline-block;
	padding-top: 8px;

}
nav ul li a{
	padding: 15px;
	color: white;
	text-decoration: none;
	font-family: boomkan old style;
	font-size: 20px;
}
nav ul li a:hover{
	background-color: dodgerblue;
	color:white;
	border-bottom: 10px solid red;
}
img{
	width: 400px;
	height: 300px !important;
	margin: 2%;
	/*border-radius:% !important;*/
}
 