*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
nav{
	margin-top: 2%;
	height: 50px;
}
nav ul li{	
	display: inline-block;
	padding-top: 8px;

}
nav ul li a{
	padding: 15px;
	color: white;
	text-decoration: none;
	font-family: boomkan old style;
	font-size: 20px;
}
nav ul li a:hover{
	background-color: dodgerblue;
	color:white;
}
img{
	width: 400px;
	height: 300px !important;
	margin: 2%;
}
 